<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="stage">
        <canvas id="canvas" width="2000" height ="2000"></canvas>
    </div>
    <script src="/main.js" type="module"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>